 body {
        margin: 0;
        padding: 0;
        background-color: #ffffff;
      }
      header {
        background-color: #f8f8f8;
        text-align: center;
        height: 100px;
        padding: 15px;
        margin-bottom: 10px;
      }
      .book-library {
        display: flex;
        background-color: #f8f8f8;
        flex-direction: column;
        align-items: center;
      }
      .book {
        display: flex;
        flex-direction: column;
        margin: 10px;
        height: 560px;
        width: 600px;
        align-items: center;
        position: relative;
      }
      .item1 {
        width: 100%;
        margin-left: 28px;
        position: absolute;
        bottom: 5px;
        /* background-color: rgb(46, 204, 113); */
      }
      .item1 .price {
        height: 50px;
        width: 570px;
        background-color: rgb(46, 204, 113);
        border-radius: 10px;
        color: white;
        text-align: center;
      }

      h2 {
        padding: 16px;
      }
      p {
        margin: 2px;
        display: inline-block;
      }
      h5 {
        padding: 0px;
        margin-top: 0px;
        color: #777777;
      }
      img {
        height: 400px;
        width: 400px;
      }